<h2>Review sobre Evolution Mint<br />
            <span>Uma análise sobre o pequeno concorrente do iRobot Roomba</span></h2>
            <p>Certamente vocês já ouviram falar do Roomba, o robô aspirador de pó fabricado pela iRobot. Desde 2010, ele possui um novo concorrente, o pequeno Mint, fabricado pela Evolution Robotics. Eu já possuía um Roomba (review aqui) porém queria algo para fazer o serviço de um esfregão por mim.</p>

<img src="/images/reviews/mint.png" alt="picture" width="200" height="200" class="floated" />

<p>O Scooba era uma opção, porém seu alto preço (cerca de U$350 no eBay, mais taxas e frete) o tornava inviável. O Mint, por sua vez, foi comprado no eBay por apenas U$160, mais U$40 de frete. Como ele se sai comparado ao meu Roomba, e quão eficiente é sua limpeza e seu sistema de navegação? É o que vamos descobrir nos próximos parágrafos.<p>


            
            
            
            <p><a href="#">Ler Mais »</a></p>