<%= javascript_include_tag 'tiny_mce/tiny_mce.js' %>
<% javascript_tag do %>
	tinyMCE.init({
		mode : "textareas", theme : "simple"
		});
	

<% end %>
<h1>Novo post</h1>

<%= render 'form' %>

<%= link_to 'Voltar', posts_path %>